DirectoryIndex login.html api/index.php

RewriteEngine On

# If the request is not for a real file
RewriteCond %{REQUEST_FILENAME} !-f
# And not for a real directory
RewriteCond %{REQUEST_FILENAME} !-d
# Route it to api/index.php
RewriteRule ^(.*)$ api/index.php [QSA,L]
